<div class="typo-wrapper">
  <h2>三个原则</h2>
  <p>第一不竞稿；第二先收钱；第三见老板。</p>
  <small>因为能够接受这三条的人一定是行家，是识货的人，是有实力的客户。恰恰是他们帮助我们成就了今天的成绩。</small>
  <h4>第一不竞稿</h4>
  <p>证明你的自信，实力和双方的信任。</p>
  <h4>第二先收钱</h4>
  <p>显露你并不自信而且实力不足，有了合约害怕对方赖账？是之一法律还是对自己信息不足？还有，有了合约，不一定先付钱，有的合约是一期期的，钱是一期期付的，合约有时会终止的，国外就有这种情况。当然是有原因的，还要有双方律师出席。</p>
  <h4>第三见老板</h4>
  <p>为什么？在国外是见不到老板的，接线员就会把你档回去，老板不会过问这些事。况且你们做的是有实力的客户，这是市场部的事。</p>
  <blockquote>
    网页留言说：你的观点有点自相矛盾，实话实说。
  </blockquote>
  <small>连朋友都看出来我在医院真是闲的没事干，天天写博客玩。今天徐智明（龙之媒广告人书店的老板）在 MSN 上催我赶紧给他写欠他的书稿，说：“看你在博客上侃得挺欢的，赶紧出来给我干活吧！哈哈！”</small>
</div>