<div class="typo-wrapper page-workflow clearfix">
  <ol class="clearfix">
    <li><h3>先聊聊吧</h3></li>
    <li class="custom-bg bg-1">初步接洽：双方进行沟通交流，相互了解，确认初步合作意向。</li>
    <li class="custom-bg bg-2">确定合同意向：明确设计任务，设计报价及时间进度安排。</li>
  </ol>
  <ol class="clearfix">
    <li class="custom-bg bg-3">签订合同：签订委托设计合同，甲方向乙方支付预付款，并明确双方负责人</li>
    <li class="custom-bg bg-4">信息收集：甲方向乙方提供相关图片文字资料，乙方了解客户产品的市场情况，定位、受众及同行业的设计表现。</li>
    <li class="custom-bg bg-5">设计初步构想：乙方根据所得到的信息向甲方提出设计构想，双方共同确定设计方向和风格。</li>
  </ol>
  <ol class="clearfix">
    <li><h3>开始工作</h3></li>
    <li class="custom-bg bg-6">初稿提交：乙方向甲方提交初稿，双方进行方案的沟通，甲方提供具体修改建议。</li>
    <li class="custom-bg bg-7">第二次提案：乙方向甲方提交二稿，双方对方案细化和调整进行沟通，确定最终方案。</li>
  </ol>
  <ol class="clearfix">
    <li class="custom-bg bg-8">整理和收尾工作：乙方将甲方确定的最终方案进行整理和收尾。</li>
    <li class="custom-bg bg-9">交付电子文件：甲方清合同余款，乙方向甲方交付最终设计电子文件，工作完成。</li>
    <li class="custom-bg bg-10">服务反馈：设计方的客服人员会继续与客户保持联系，解决相关问题和咨询市场情况，也为下一次合作提供宝贵的参考意见。</li>
  </ol>
</div>
<div class="navigation-content navigation-cooper">
  <a class="navigation-content-prev" href="/#!/cooperation/contract">设计合同</a>
  <a class="navigation-content-next" href="/#!/about/tomato">为什么叫番茄</a>
</div>